doctype 5
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",name="viewport")
    meta(name="apple-mobile-web-app-capable",content="yes")  
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    
    script(src="/socket.io/socket.io.js")
    script(src='/build/Wu.min.js')

    //bootstraped collections
    script!= playlists
    script!= servers
    script!= renderers

  body
    .toast-wrap
        .toast
    #alphabet
    #header
    #page
    #mask
    #menu
    #pullTab