doctype html
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no",name="viewport")
    meta(name="apple-mobile-web-app-capable",content="yes")  
    
    link(rel='stylesheet', href='/build/style.min-94696.css')
    link(rel='stylesheet', href='/build/font-awesome.min-94696.css')
    
    script(src="/socket.io/socket.io.js")
    script(src='/build/Wu.min-94696.js')

    //bootstraped collections
    script!= playlists
    script!= servers
    script!= renderers

  body
    .toast-wrap
        .toast
    #alphabet
    #header
    #page
        #category-container
            .category
    #mask
    #menu.hide
    #pullTab