doctype 5
html
  head
    title= title
    meta(content="width=device-width, initial-scale=1.0, user-scalable=no",name="viewport")
    meta(name="apple-mobile-web-app-capable",content="yes")  

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    script(src='/javascripts/fastclick.js')
    script(src='/javascripts/zepto.min.js')
    script(src='/javascripts/wu/touch.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/wu/runtime.js')
    script(src='/javascripts/wu/drag.js')
    script(src="/socket.io/socket.io.js")
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/wu/app.js')
    script(src='/JST.js')

    //bootstraped collections
    script!= playlists
    script!= servers
    script!= renderers

    //views
    script(src='/javascripts/views/base/list.js')
    script(src='/javascripts/views/list-jumper.js')
    script(src='/javascripts/views/category-nav.js')
    script(src='/javascripts/views/category-list.js')
    script(src='/javascripts/views/category-popup.js')
    script(src='/javascripts/views/categories.js')
    script(src='/javascripts/views/directories.js')
    script(src='/javascripts/views/track-list.js')
    script(src='/javascripts/views/menu.js')
    script(src='/javascripts/views/header.js')
    script(src='/javascripts/views/player-tab.js')
    script(src='/javascripts/views/toast-master.js')
    script(src='/javascripts/views/playlist-dropdown.js')
    script(src='/javascripts/views/directory-menu.js')

    //models
    script(src='/javascripts/models/category_model.js')
    script(src='/javascripts/models/directory_model.js')
    script(src='/javascripts/models/playlist_model.js')
    script(src='/javascripts/models/renderer_model.js')
    script(src='/javascripts/models/server_model.js')
    script(src='/javascripts/models/player_model.js')
    script(src='/javascripts/models/track_model.js')

    //collections
    script(src='/javascripts/collections/playlists.js')
    script(src='/javascripts/collections/renderers.js')
    script(src='/javascripts/collections/servers.js')
    script(src='/javascripts/collections/tracks.js')

    //routes
    script(src='/javascripts/routes/route.js')

    //helpers
    script(src='/javascripts/helpers/helpers.js')
    script(src='/javascripts/wu/layout.js')

    //mixins
    script(src='/javascripts/mixin/_base.js')
    script(src='/javascripts/mixin/swipeAway.js')

  body
    .toast-wrap
        .toast
    #alphabet
    #header
    #page
    #mask
    #menu
    #pullTab